.navbar {
    background: #000;
    color: #fff;
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-left: 70px;
}

.logo {
    height: 350px;
    position: absolute;
    top: -80px;
    right: 5px;
    left: 300px;
    z-index: 1000;
}
